.App {
  text-align: center;
}
/* sub {
  z-index: -9999;
}
sup {
  z-index: -9999;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
p {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.video-no-controls::-webkit-media-controls {
  display: none !important;
}

.video-no-controls::-webkit-media-controls-start-playback-button {
  display: none !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gradient-text {
  /* color: transparent;
  display: inline; */
  background: linear-gradient(92deg, #4b65f6 0%, #4b65f6 0.01%, #ac2fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
